<h1 id="tableLabel">Users</h1>

<p>This component demonstrates fetching users data from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.lastName}}</td>
      <td>{{ user.email}}</td>
    </tr>
  </tbody>
</table>
